@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
	--Bright-Blue: hsl(220, 98%, 61%);
	--Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
	--Very-Light-Gray: hsl(0, 0%, 98%);
	--Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
	--Light-Grayish-Blue: hsl(236, 33%, 92%);
	--Dark-Blue: hsl(235, 24%, 19%);
	--Very-Dark-Blue: hsl(235, 21%, 11%);
	--Grayish-50: hsl(233, 11%, 84%);
	--Grayish-100: hsl(234, 39%, 85%);
	--Grayish-200: hsl(236, 9%, 61%);
	--Grayish-300: hsl(234, 11%, 52%);
	--Grayish-400: hsl(233, 14%, 35%);
	--Grayish-500: hsl(235, 19%, 35%);
	--Grayish-600: hsl(237, 14%, 26%);
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: "Josefin Sans", sans-serif;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px;
	gap: 25px;
	position: relative;
}
body::before {
	transition: 0.5s;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 220px;
	z-index: -1;
}
body::after {
	transition: 0.5s;
	position: absolute;
	content: "";
	top: 220px;
	left: 0;
	width: 100%;
	height: calc(100vh - 220px);
	z-index: -1;
}
body::before {
	/* transition: 1s; */
	background-image: url(../public/images/bg-desktop-light.jpg);
}
.dark-mode::before {
	/* transition: 1s; */
	background-image: url(../public/images/bg-desktop-dark.jpg);
}
body::after {
	background-color: var(--Light-Grayish-Blue);
}
.dark-mode::after {
	background-color: var(--Very-Dark-Blue);
}
@media (max-width: 920px) {
	body::before,
	body::before {
		background-size: contain;
	}
}
.form-sec {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
header {
	width: 46%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 920px) {
	header {
		width: 57%;
	}
}
@media (max-width: 820px) {
	header {
		width: 100%;
	}
}
.form-sec header h3 {
	letter-spacing: 9px;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 600;
	color: var(--Very-Light-Gray);
	margin: 30px 0;
}
header img {
	width: 16px;
	cursor: pointer;
}
form {
	width: 46%;
	display: flex;
	gap: 5px;
	border-radius: 6px;
	padding: 15px;
	align-items: center;
}
@media (max-width: 920px) {
	form {
		width: 57%;
	}
}
@media (max-width: 820px) {
	form {
		width: 80%;
	}
}
@media (max-width: 700px) {
	form {
		width: 90%;
	}
}
@media (max-width: 590px) {
	form {
		width: 100%;
	}
}
form {
	background-color: var(--Very-Light-Gray);
}
.dark-mode form {
	background-color: var(--Dark-Blue);
}
button {
	background: none;
	cursor: pointer;
	transition: 0.3s;
}
button:not(.desktop button, .mobile button, .mobile-btns button) {
	width: 18px;
	height: 18px;
	border: 1px solid;
	border-radius: 50%;
}
button:not(.desktop button, .mobile button, .mobile-btns button) {
	border-color: var(--Grayish-100);
}
form button:hover {
	border-color: var(--Grayish-100);
	border-color: var(--Grayish-200);
}
.dark-mode button:not(.desktop button, .mobile button, .mobile-btns button) {
	border-color: var(--Grayish-600);
}
.dark-mode form button:hover {
	border-color: var(--Grayish-500);
}

form input {
	background: none;
	border: none;
	flex: 1;
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	padding: 5px 0 5px 10px;
	caret-color: var(--Bright-Blue);
	color: var(--Grayish-500);
	caret-color: var();
}
.dark-mode form input {
	caret-color: var();
	color: var(--Grayish-200);
}

form input:focus {
	outline: none;
}
form input::placeholder {
	color: var(--Grayish-200);
}
.dark-mode form input::placeholder {
	color: var(--Grayish-300);
}

/* Start Todos */
article {
	border-radius: 6px;
	width: 46%;
}
@media (max-width: 920px) {
	article {
		width: 57%;
	}
}
@media (max-width: 820px) {
	article {
		width: 80%;
	}
}
@media (max-width: 700px) {
	article {
		width: 90%;
	}
}
@media (max-width: 590px) {
	article {
		width: 100%;
	}
}
article,
.mobile-btns {
	background-color: var(--Very-Light-Gray);
}
.dark-mode article,
.dark-mode .mobile-btns {
	background-color: var(--Dark-Blue);
}
.todos-list {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	touch-action: none;
}
.todos-list li {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1.4px solid;
	transition: 0.3s;
	width: 100%;
	font-weight: 600;
	font-size: 17px;
	border-color: var(--Grayish-100);
	color: var(--Grayish-300);
}
.dark-mode .todos-list li {
	color: var(--Grayish-100);
	border-color: var(--Grayish-600);
}
.todos-list li.completed {
	color: var(--Grayish-100);
	text-decoration: line-through;
}
.dark-mode .todos-list li.completed {
	color: var(--Grayish-500);
	text-decoration: line-through;
}
li:active {
	background-color: var(--Grayish-50);
	cursor: grab;
	user-select: none;
}
.dark-mode li:active {
	background-color: var(--Grayish-600);
}
.todos-list > li div {
	display: flex;
	align-items: center;
	gap: 15px;
	flex: 1;
}
.todos-list li button {
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--Very-Light-Gray);
}
.dark-mode li button {
	background-color: var(--Dark-Blue);
}
.todos-list li div.btn {
	border-radius: 50%;
	padding: 1px;
}
/* **************** */
/* **************** */
li span {
	width: 100%;
}
/* **************** */
/* **************** */
.todos-list li:not(.completed) div.btn:hover {
	background: linear-gradient(
		to right,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
	);
}
.todos-list li.completed button {
	background: linear-gradient(
		to right,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
	);
}
.todos-list li .cross-icon {
	width: 12px;
	justify-self: flex-end;
	cursor: pointer;
}
.desktop {
	display: flex;
	width: 100%;
	padding: 22px;
	justify-content: space-between;
	align-items: center;
}
.mobile,
.mobile-btns {
	display: none;
}
@media (max-width: 590px) {
	.desktop {
		display: none;
	}
	.mobile,
	.mobile-btns {
		display: flex;
	}
}
.desktop button,
.mobile button,
.mobile-btns button {
	border: none;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 600;
}
.mobile,
.mobile-btns {
	padding: 18px;
	justify-content: space-between;
}
.mobile-btns {
	width: 100%;
	border-radius: 6px;
	justify-content: center;
}
.mobile-btns button {
	font-weight: 700;
	font-size: 15px;
}
.desktop button,
.desktop span,
.mobile button,
.mobile span,
.mobile-btns span,
.mobile-btns button {
	color: var(--Grayish-200);
}
.dark-mode .desktop button,
.dark-mode .desktop span,
.dark-mode .mobile button,
.dark-mode .mobile span,
.dark-mode .mobile-btns button,
.dark-mode .mobile-btns span {
	color: var(--Grayish-400);
}

.desktop button.active,
.mobile button.active,
.mobile-btns button.active {
	color: var(--Bright-Blue);
}
.desktop button:not(.active):hover,
.mobile button:not(.active):hover,
.mobile-btns button:not(.active):hover {
	color: var(--Grayish-400);
}
.dark-mode .desktop button:not(button.active):hover,
.dark-mode .mobile button:not(button.active):hover,
.dark-mode .mobile-btns button:not(button.active):hover {
	color: var(--Grayish-100);
}
main > p {
	color: var(--Grayish-200);
}
.dark-mode main > p {
	color: var(--Grayish-400);
}
/* End Todos */
